@font-face{
    font-family: 'Inter';
    src: url('Inter-VariableFont_slnt\,wght.ttf');
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
}


.menu{
    background-color: black;
    color: white;
    display:inline-flex;
    justify-content:flex-start;
    border: 20px;
    font-size: 18px;
    width:100%;
}

.item{
    text-decoration: none;
    color: white;
    margin : 15px;
}

.item2{
    text-decoration: none;
    color: white;
    margin : 15px;
    margin-right:60px;
}

.divider{
    margin-left: 30px;
}

.divider2{
    margin-left: 10vw;
}

.divider3{
    margin-top: 30px;
}

.zoomimg{
    max-height: 20px;
    min-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}

.bag{
    max-height: 25px;
    min-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right:10px;
    margin-left:auto;
}

.bagcounter{
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-right:40px;
}

.menumargin{
    margin-left: 100px;
}

.searchoption{
    color: gray;
}

.grid-container {
    flex-wrap: wrap;
    display:grid;
    column-gap: 50px;
    grid-template-columns: 60% 40%;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.grid-item {
    display: inline-block;
    padding-left: 20px;
    font-size: 30px;
    text-align: left;
    max-height: 40px;
}

.grid-item2 {
    display: inline-block;
    padding-left: 20px;
    font-size: 30px;
    text-align: left;
    max-height: 40px;
    padding-top: 180px;
    font-size :20px;
    color: black;
}

.grid-item3 {
    columns:auto;
    display: inline-block;
    font-size: 30px;
    text-align: left;
    max-height: 40px;
    width:95%;
    margin-left:20px;
}

img {
    max-width: 100%
}

.images{
    margin-top: 50px;
    width: 5.5em;
    max-width: 200px;
    height: auto;
}


.container {
    margin-top: 20px;
    flex-wrap: wrap;
    display:grid;
    column-gap: 10px;
    grid-template-columns: 25% 60% 10%;
}

.container2 {
    margin-top: 5.5em;
    flex-wrap: wrap;
    display:grid;
    column-gap: 10px;
    grid-template-columns: 25% 60% 10%;
}

.container3 {
    display:grid;
    column-gap: 10px;
    grid-template-columns: 40% 60%;
}

.margintop70 {
    margin-top:70px;
}

.text {
    margin-top: 40px;
    line-height : 16px;
    font-size: 0.7em;
    text-align: left;
    margin-left:2.4em;
    white-space: nowrap;
}

.textleft {
    display: block;
    font-size: 20px;
    text-align: left;
    size:10px;
    max-height: 30px;
}

.textleft3 {
    display: block;
    font-size: 20px;
    text-align: left;
    size:10px;
    line-height: 0px;
}

.textleft4 {
    display: block;
    font-size: 20px;
    text-align: left;
    size:10px;
    line-height: 0px;
    color:#999999;
}

.textleft5 {
    display: block;
    font-size: 15px;
    text-align: left;
    size:10px;
    color:#999999;
}


.textright {
    display: block;
    margin-right: 80px;
    font-size: 20px;
    text-align: right;
    size:10px;
    max-height: 30px;
}

.textright2 {
    display: block;
    margin-right: 80px;
    font-size: 20px;
    text-align: right;
    color:gray;
    size:10px;
    max-height: 30px;
}

.textright3 {
    display: block;
    margin-right: 80px;
    font-size: 20px;
    text-align: right;
    size:10px;
    line-height: 0px;
}

.textright4 {
    display: block;
    font-size: 20px;
    text-align: right;
    size:10px;
    line-height: 0px;
    color:#999999;
}

.checkouttext {
    margin-top: 60px;
    font-size: 26px;
}

.summary-order{
    display:block;
    margin-top:450px;
}
.order-text{
    font-size: 30px;
    height: 50px;
}

.ligne{
    margin-top:7.4em;
    border: solid #C5C7C9;
    background-color: #C5C7C9;
    overflow: hidden;
    border-width: 1px;
}

.lignenoir{
    margin-top:2em;
    margin-right:70px;
    border: solid black;
    background-color: black;
    overflow: hidden;
    border-width: 1px;
}

.lignenoir2{
    border: solid black;
    background-color: black;
    overflow: hidden;
    border-width: 1px;
}

form.example input[type=text] {
    margin-top: 70px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
}

.summary-checkout {
    display: block;
    margin-right:70px;
    margin-top:10px;
    text-decoration: none;
}

input[type=button], input[type=submit] {
    display: block;
    float: none;
    font-size: 0.90rem;
    text-align: center;
    padding: 0.625rem 0;
    width: 100%;
    color:white;
    background-color: black;
    width:85%;
    cursor: pointer;
  }

.checkout-cta {
    display: block;
    float: none;
    font-size: 0.90rem;
    text-align: center;
    padding: 0.625rem 0;
    width: 100%;
    color:white;
    background-color: black;
  }

  /* A voir si ça marche */
  .wrapper {
    width: 600px;
    margin: 20px auto;
  }
  
  .desc-wrapper {
    margin: 0 auto;
    margin-bottom: 15px;
    max-height: 120px;
    overflow: hidden;
  }
  
  .more-info {
    /* Hide more info to begin with and reveal if text inside desc is too long*/
    display: none;
  }
  
  /* Only display 'more' to begin with */
  .more-info .less,
  .more-info.expand .more {
    display: none;
  }
  .more-info.expand .less {
    display: inline;
  }
  
  /* Misc, just to make things look a bit prettier */
  .more-info:focus {
    outline: none;
  }
  span.glyphicon {
    margin-left: 3px;
  }

