@font-face{
    font-family: 'Inter';
    src: url('Inter-VariableFont_slnt\,wght.ttf');
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
}

img {
    max-width: 100%
}

.menu{
    background-color: black;
    color: white;
    display: flex;
    justify-content:flex-start;
    border: 20px;
    font-size: 18px;
    overflow: hidden;
}

.item{
    text-decoration: none;
    color: white;
    margin : 15px;
}

.divider{
    margin-left: 30px;
}

.divider2{
    margin-left: 35%;
}

.divider3{
    margin-top: 30px;
}

.bag{
    max-height: 25px;
    min-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.zoomimg{
    max-height: 20px;
    min-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}

.bagcounter{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 20px;  
}

.menumargin{
    margin-left: 100px;
}

.searchoption{
    color: gray;
}
  
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 800px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu a:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu a + a {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   }