@font-face {
    font-family: 'Inter';
    src: url('Inter-VariableFont_slnt\,wght.ttf');
}

@media screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .container_image {
        display: flex;
        order: 1;
        align-content: center;
    }
    
    .container_texte {
        display: flex;
        order: 2;
        align-content: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 1199px) {
    .container {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .container_image {
        display: flex;
        order: 1;
        align-content: center;
    }
    
    .container_texte {
        display: flex;
        order: 2;
        align-content: center;
        flex-direction: column;
    }
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
}

img {
    max-height: 500px;
    width: auto;
}

.img_boutton {
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
    height: 10%;
    min-height: 10%;
    max-height: 10%;
    min-width: 10%;
    max-width: 10%;
}

.panier {
    background-color: black;
    color: white;
    size: 40px;
    padding: 15px;
}

.payer {
    background-color:rgb(48, 174, 243);
    color: white;
    size: 40px;
    padding: 15px;
}

label {
    display: block;
    margin: .4rem 0;
    color: black;
}

.select {
    border-radius: 0px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    height: 44px;
    width: 300px;
}

.qte {
    border-radius: 0px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    height: 20px;
    width: 100px;
}

.container_input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_texte {
    margin-top: 5px;
}

.homer {
    max-height: 500px;
    width: auto;
}


















.footer
{
  background-color:#ffffff;
  padding:45px 0 20px;
  font-size:20px;
  line-height:24px;
  color:#494949;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.footer h5
{
  color:rgb(29, 29, 29);
  font-size:30px;
  text-transform:uppercase;
  letter-spacing:2px
}
.footer h6
{
  color:rgb(35, 35, 35);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.footer a
{
  color:#5b5a5a;
  text-decoration: none;
}
.footer a:hover
{
  color:#5264AE;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#5264AE;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}

@media (max-width:991px)
{
  .footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .footer
  {
    padding-bottom:0
  }
  .footer .copyright-text,.footer 
  {
    text-align:center
  }
}

.content{
  margin-left: 10 px;
  margin-right: 10 px;
}

.content-footer{
  display: flex;
  justify-content: space-between;
  gap: 60px;
}



@media (max-width:800px){
  .footer{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .content-footer{
    display: flex;
  }
  .image-logo{
    display: block;
  }

}