@font-face{
    font-family: 'Inter';
    src: url('Inter-VariableFont_slnt\,wght.ttf');
}

@media screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .container_image {
        display: flex;
        order: 1;
        align-content: center;
    }
    
    .container_texte {
        display: flex;
        order: 2;
        align-content: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 1199px) {
    .container {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .container_image {
        display: flex;
        order: 1;
        align-content: center;
    }
    
    .container_texte {
        display: flex;
        order: 2;
        align-content: center;
        flex-direction: column;
    }
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
}

img {
    max-width: 100%
}

.img_boutton {
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
    height: 10%;
    min-height: 10%;
    max-height: 10%;
    min-width: 10%;
    max-width: 10%;
}

.panier {
    background-color: black;
    color: white;
    size: 40px;
    padding: 15px;
}

.payer {
    background-color:rgb(48, 174, 243);
    color: white;
    size: 40px;
    padding: 15px;
}

label {
    display: block;
    margin: .4rem 0;
    color: black;
}

.select {
    border-radius: 0px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    height: 44px;
    width: 300px;
}

.qte {
    border-radius: 0px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    height: 20px;
    width: 100px;
}

.container_input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_texte {
    margin-top: 5px;
}

.homer {
    max-height: 500px;
    width: auto;
}